.neurobase-root {
  position: relative;
  width: 1440px;
  height: 1024px;
  left: 110px;
  top: 217px;
  background: #615637;
  overflow: hidden;
}

.neurobase-image-bg {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.neurobase-image-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.neurobase-logo {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 44px;
  top: 44px;
  z-index: 2;
}
.neurobase-logo img {
  width: 100%;
  height: 100%;
}

.neurobase-title {
  position: absolute;
  width: 279px;
  left: calc(50% - 279px/2 + 1px);
  top: 7.03%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 139%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #DFAA2E;
  z-index: 2;
}

.neurobase-file-bg {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 0;
}
.neurobase-file-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}